# Binaries
/token-alert
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Local runtime config
.env

.gocache/

examples/
